# EXONYM resolved dependency closure for CPython 3.9 on Windows.
# This inventory includes the core package plus every declared optional
# analysis, test, and security dependency, resolved to exact installed versions.
# Regenerate in a dedicated CPython 3.9 environment whenever pyproject.toml changes.
aiobotocore==2.26.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aioitertools==0.13.0
aiosignal==1.4.0
arviz==0.17.1
astropy==6.0.1
astropy-iers-data==0.2026.3.16.0.53.33
astroquery==0.4.11
async-timeout==5.0.1
autograd==1.9.1
attrs==26.1.0
backports.tarfile==1.2.0
bandit==1.8.6
batman-package==2.5.3
beautifulsoup4==4.15.0
blosc2==2.5.1
bokeh==3.4.3
botocore==1.41.5
celerite==0.4.3
certifi==2026.5.20
cfgv==3.4.0
charset-normalizer==3.4.7
colorama==0.4.6
configparser==7.2.0
contourpy==1.3.0
corner==2.3.0
coverage==7.6.10
cycler==0.12.1
distlib==0.4.3
dynesty==3.0.0
emcee==3.1.6
exceptiongroup==1.3.1
fbpca==1.0
filelock>=3.24.2
fonttools==4.60.2
frozenlist==1.8.0
fsspec==2025.10.0
h5netcdf==1.8.1
html5lib==1.1
identify==2.6.15
idna==3.18
importlib_metadata==8.7.1
importlib_resources==6.5.2
iniconfig==2.1.0
jaraco.classes==3.4.0
jaraco.context==6.1.1
jaraco.functools==4.4.0
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
keyring==25.7.0
kiwisolver==1.4.7
LDTk==1.8.6
lightkurve==2.6.0
llvmlite==0.43.0
lxml==6.1.1
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.9.4
mdurl==0.1.2
MechanicalSoup==1.3.0
memoization==0.4.0
more-itertools==10.8.0
msgpack==1.0.8
multidict==6.7.1
multipledispatch==1.0.0
ndindex==1.10.1
nodeenv==1.10.0
numba==0.60.0
numexpr==2.10.2
numpy==1.26.4
packaging==26.2
pandas==2.3.3
patsy==1.0.2
pillow==11.3.0
pip==26.0.1
platformdirs==4.4.0
pluggy==1.6.0
pre-commit==3.8.0
propcache==0.4.1
py-cpuinfo==9.0.0
pyerfa==2.0.1.5
Pygments==2.20.0
pyparsing==3.0.9
pyrr==0.10.3
pysyd==6.10.5
pytest==8.4.2
pytest-cov==6.0.0
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
python-discovery==1.5.1
PyTransit==2.2.0
pytz==2026.2
pyvo==1.8.1
pywin32-ctypes==0.2.3
PyYAML==6.0.3
referencing==0.36.2
requests==2.32.5
rich==15.0.0
rpds-py==0.27.1
ruff==0.8.6
s3fs==2025.10.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
semantic-version==2.10.0
setuptools==69.5.1
six==1.17.0
soupsieve==2.8.4
stevedore==5.5.0
tables==3.9.2
tenacity==9.1.2
tess-atl==0.0.3.1
threadpoolctl==3.6.0
tomli==2.4.1
tornado==6.5.6
tqdm==4.68.4
traitlets==5.15.1
transitleastsquares==1.32
triceratops==1.0.20
typing_extensions==4.15.0
tzdata==2026.2
urllib3==1.26.20
virtualenv==21.7.3
webencodings==0.5.1
wheel==0.47.0
wrapt==1.17.3
xarray==2024.7.0
xarray-einstats==0.7.0
xyzservices==2026.3.0
yarl==1.22.0
zipp==3.23.1
